* {
box-sizing: border-box; 
font-style: italic;
    font-weight: 900;
    color: brown; 
}
body {
display: flex;
min-height: 100vh;
flex-direction: row;
margin: 0;
}
.column-1 {
background: #D7E8D4;
flex: 1;
}
.column-2 {
display: flex;
flex-direction: column;
flex: 5;
}
.inner-1 {
display: flex;
flex-direction: row;
}
.inner-2 {
flex: 4;
}
.inner-2 > article {
min-height: 60vh;
}
.inner-1 > aside {
background: aqua;
flex: 1;
}
header, footer {
background: yellowgreen;
height: 20vh;
}
header, footer, article, nav, aside {
padding: 1em;
}
.show:hover{
color: black;
text-decoration: underline;
}
.hide{
display: none;
}
.show:hover + .hide {
display: block;
color: red;
}